body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

nav {
    height: 50px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

ul li a {
    text-decoration: none;
    padding: 13px;
    color: rgba(0,0,0,0.87);
}

.img {
    border-radius: 50%;
}

ul li a:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    color: red;
}