body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.nav-links ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

.nav-links ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    padding: 15px;
} 

.nav-links ul li a:hover {
    text-decoration: underline;
}

.nav-links ul li a i {
    color: rgba(0, 0, 0, .54);
    display: inline-block;
    font-size: 20px;
}

.nav-links ul li a i:hover {
    background: #f2f2f2;
}

.profile_picture {
    border-radius: 50%;
}

.main {
    height: 82.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .container {
    display: flex;
    flex-direction: column;
}

.main_logo {
    width: 300px;
    margin: 0 auto;
}

.search-text {
    display: inline-block;
    width: 584px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    outline: none;
    margin: 30px;
} 

.search-text:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.aa {
    width: 584px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    padding: 5px 8px 0 16px;
}

.aa .micro {
    display: block;
    height: 30px;
    padding: 3px;
    cursor: pointer;
}

.aa .fa-search {
    display: block;
    padding: 15px;
    padding-left: 3px;
    cursor: pointer;
}

.aa .input {
    width: 500px;
    height: 42px;
    border: none;
    outline: none;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn .cta {
    margin: 5px;
    width: 120px;
    height: 35px;
    background-color: #f2f2f2;
    border: none;
    border: 1px solid #f2f2f2;
    color: #3c4043;
    cursor: pointer;
    border-radius: 4px;
    font-family: Arial, sans-serif;
}

.btn .cta:hover {
    border: 1px solid #dadce0;
}

footer {
    background: #f2f2f2;
}

.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f2f2f2;
    border-top: 1px solid #dadce0;
}

.container-footer ul {
    display: flex;
    list-style: none;
}

.container-footer ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
}

.container-footer ul li a:hover {
    text-decoration: underline;
}

.container-footer .right a {
    margin-right: 35px;
}

.container-footer .left a {
    padding-right: 35px;
}

.country {
    padding-left: 35px;
    font-size: 15px;
    background: #f2f2f2;
    padding-top: 15px;
    color: rgba(0, 0, 0, .54);
}