body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.nav-links {
    /* height: 10vh; */
}

.nav-links ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

.nav-links ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    padding: 15px;
} 

.nav-links ul li a:hover {
    text-decoration: underline;
}

.nav-links ul li a i {
    color: rgba(0, 0, 0, .54);
    display: inline-block;
    font-size: 20px;
}

.nav-links ul li a i:hover {
    background: #f2f2f2;
}

.profile_picture {
    border-radius: 50%;
}

.main {
    height: 82.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .container {
    display: flex;
    flex-direction: column;
}

/* .main .container .search-text {
    display: inline-block;
    width: 200px;
} */

footer {
    background: #f2f2f2;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
    border-top: 1px solid #dadce0;
}

.container-footer ul {
    display: flex;
    list-style: none;
}

.container-footer ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
}

.container-footer ul li a:hover {
    text-decoration: underline;
}

.container-footer .right a {
    margin-right: 35px;
}

.container-footer .left a {
    padding-right: 35px;
}

.country {
    padding-left: 35px;
    font-size: 15px;
    background: #f2f2f2;
    padding-top: 15px;
    color: rgba(0, 0, 0, .54);
}